html, body {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    overflow: hidden;
    overscroll-behavior-y: contain;
	-webkit-tap-highlight-color: transparent;  /* 取消safari点击变暗效果 */
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Droid Sans", "STHeiTi", "sans-serif", "Segoe";
    padding-bottom: env(safe-area-inset-bottom, 34px);
}
div {
	box-sizing: border-box;
}

.eclipsis {
	overflow: hidden; 
	text-overflow: ellipsis;  
	white-space: nowrap;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}

.grayed {
	filter: grayscale(100%);
}

@keyframes scaleIcon {
    20%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#__nuxt {
    position: relative;
	margin: 0 auto;
	min-width: 300px;
	max-width: 750px;
	height: 100%;
    overflow: hidden;
}